/* style.css */
body {
    font-family: Arial;
    background-color: #fff5f5;
    margin: 0;
}

header {
    background-color: #e63946;
    color: white;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 20px;
}

.card {
    background-color: white;
    padding: 15px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px lightgray;
}

img {
    width: 100%;
    border-radius: 10px;
}

button {
    background-color: #e63946;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}